/*inserção da imagem de fundo que cobre todo o conteúdo do site*/

body {
 /* background-color: #f0f5ee;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: #2e8b576b;
}

/*Modificações do cabeçalho (arquivos do NAVBAR)*/

.navbar-header {
  background-image: url(../assets/images/culinaria_nav_background.png);
}


.nav-itens-name:hover {
  background-color: rgba(11, 230, 11, 0.651);
}

/*Efeito da cor da Lupa na barra de Pesquisa (Único para cada página!)*/
.search-box:hover > .search-btn {
  background: url(../assets/images/culinaria_nav_background.png);
  background-size: cover;
}

/*Caso a pesquisa não retorne resultados*/


img.no-results-img {
  border: solid green 2px;
}

.text-no-results {
  color: rgb(255, 255, 255);
    background-color: cadetblue;
    padding: 12px;
    border-radius: 15px;
    border: solid green;
}

/*Caso a pesquisa tenha resultados*/

.search-result {
  border-bottom: 1px solid #eee;
}

/*Menu mobile*/

.links-mobile {
  background-image: url(../assets/images/culinaria_nav_background.png);
}


/*Fim dos arquivos do NAVBAR*/

.tittle-apresentation-initial {
  background-color: #00ff7f0d;
}

@media (max-width: 975px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    text-align: justify;
  }
}

@media (max-width: 620px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;

    font-size: 0.8em;
  }
}

@media (max-width: 520px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    font-size: 0.7em;
  }
}

@media (max-width: 450px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    font-size: 12px;
  }
}

@media (max-width: 415px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    
  }
}

@media (max-width: 395px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
  }
}

@media (max-width: 390px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    letter-spacing: -0.3px;
    font-weight: 900;
    text-align: initial;
  }
}

/*Estilos do Carrosel*/

.swiper-navBtn {
  color: #707070;
  transition: color 0.3s ease-in-out;
}

.swiper-navBtn:hover {
  color: #707070;
}

.swiper-pagination-bullet {
  background-color: #808080;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #282828;
}

.card {
  border: solid teal 2px;
  background-color: mintcream;
}


.card:hover {
  background-color: #e1ffe5;
}


@media (max-width: 660px){
  /*limitará a quantidade de caracteres que o card exibirá em no máximo 5 linhas*/
  .description_card {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

/*parte da publicidade*/

.img-ads {
  background-color: green;
}

p.ads-text {
  color: black;
}

/*notícias pós parte da publicidade "ads"*/

.tittle-apresentation-initial.videos {
background: rgba(0, 128, 0, 0.068);
background-color: #00ff7f0d;

box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.videos-section {
  background: linear-gradient(270deg, #8dc191, #7eca8b, #c7ddcb);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


.card-container-2 {
  border: solid teal 1px;
  background-color: #dcd9d9e8;
  
}

.card-container-2:hover {
  background-color: #dcdcdc;
}


.sidenav {
  background: rgb(0, 151, 178);
  background: linear-gradient(
    90deg,
    rgba(0, 151, 178, 1) 0%,
    rgba(126, 217, 87, 1) 100%
  );
}

.sidenav .side_nav_a:hover {
  background-color: #282828;
}

