* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*inserção da imagem de fundo que cobre todo o conteúdo do site*/
body {
   /* background-image: url();*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

/*Modificações do cabeçalho (arquivos do NAVBAR)*/

.navbar-header {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    height: 70px;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(); /*adicionar imagem da cor do NAVBAR aqui, ou mude para "background-color" e escolha uma cor.*/
    position: fixed;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/*deixará o conteúdo do navbar e barra de pesquisa alinhados em telas menores*/
@media (max-width: 975px) {
    .navbar-header>#search {
        align-items: center;
        justify-content: space-around;
    }
}

.material-symbols-outlined {
    display: none;
}

/*fará aparecer o menu mobile (hambúrguer) em telas menores*/
@media (max-width: 975px) {
    .material-symbols-outlined {
        display: block;
        cursor: pointer;
    }
}

.logo>a {
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
    text-shadow: -2px 0px 2px rgba(0, 0, 0, 1);
    color: white;

}

.nav-itens {
    list-style: none;
    display: flex;
    gap: 19px;
}

/*desativará o menu com os temas a mostra em telas menores, neste caso, será ativado o menu mobile (hambúrguer).*/
@media (max-width: 975px) {
    .nav-itens {
        display: none;
    }
}

.nav-itens>li>a {
    padding: 4px 19px;
    text-decoration: none;
    font-size: 12px;
    color: #000000;
    background-color: #d9d9d9fd;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
}

.nav-itens-name {
    /*esse é o efeito de acender a luzinha, ao passar o mouse sobre os temas do navbar*/
    transition: all 0.3s ease-out;
}

.nav-itens-name:hover {
    background-color: #505152;
    transition: 0.5s ease-out;
    color: white;
    
}

#search {
    text-align: center;
    border-radius: 12px;
    border: none;
    padding: 4px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 540px) {
    #search {
        display: none;
    }
}