@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  /*adição extra*/
  transition: all 0.5s ease-out;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  /*adição extra*/
  transition: all 1s ease-out;
}

/*Criação de efeito ao passar o mouse em cima da linha ou título 'footer-col', ela irá duplicar levemente o tamanho*/

.footer-col h4:hover::before {
  transition: all 1s ease-out;
  transform: translateX(1.5);
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 110px;
}

.footer-col .footer-ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col .footer-ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  /* display: block; */
  transition: all 1s ease-out;
}

/*efeito dos links do footer se moverem para direita*/
.footer-li {
  transition: all s ease-out;
}

.footer-li:hover {
  transition: all 0.5s ease-out;
  color: #ffffff;
  padding-left: 16px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #060606;
}

/* responsive */

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
