/*inserção da imagem de fundo que cobre todo o conteúdo do site*/

body {
background-color: aliceblue;
}

/*Modificações do cabeçalho (arquivos do NAVBAR)*/

.navbar-header {
    background-image: url(../assets/images/sobre_nos-nav-background-degrade.png);
}

.nav-itens-name:hover {
  background-image: url(../assets/images/sobre_nos-nav-background-degrade.png);
}

/*Efeito da cor da Lupa na barra de Pesquisa (Único para cada página!)*/
.search-box:hover > .search-btn {
  background: url(../assets/images/sobre_nos-nav-background-degrade.png);
  background-size: cover;
}

/*Caso a pesquisa não retorne resultados*/

img.no-results-img {
  border: solid black 2px;
}

.text-no-results {
  color: black;
}

/*Caso a pesquisa tenha resultados*/

.search-result {
  border-bottom: 1px solid #eee;
}


/*Menu mobile*/

.links-mobile {
  background-image: url(../assets/images/index_nav_background.png);
  background: rgb(140, 82, 255);
  background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 1) 23%,
    rgba(255, 145, 77, 1) 100%
  );
}


/*Fim dos arquivos do NAVBAR*/

.tittle-apresentation-initial {
  background-color: whitesmoke;
}

@media (max-width: 975px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    text-align: center;
  }
}

@media (max-width: 620px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    text-align: justify;
    font-size: 0.8em;
  }
}

@media (max-width: 520px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    font-size: 0.7em;
  }
}

@media (max-width: 450px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    font-size: 12px;
  }
}

@media (max-width: 415px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
   
    
  }
}

@media (max-width: 395px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
  }
}

@media (max-width: 390px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    font-weight: 900;
    font-size: 0.95em;
  }

}

@media (max-width: 300px) {
  .tittle-apresentation-initial {
    font-size: 0.7em;
  }
}

/*Estilos do Carrosel*/

.swiper-navBtn {
  color: #000000;
  transition: color 0.3s ease-in-out;
}

.swiper-navBtn:hover {
  color: #000000;
}

.swiper-pagination-bullet {
  background-color: #000000;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.card {
  background-color: ghostwhite;
  border: solid blueviolet 2px;
}

@media (max-width: 660px) {
  /*limitará a quantidade de caracteres que o card exibirá em no máximo 5 linhas*/
  .description_card {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

.card:hover {
  background-color: rgb(234, 240, 242);
}


/*parte da publicidade*/

.ads-section {
  background-color: whitesmoke;

}

.img-ads {
  background-color: #f7f7f7db;
}

p.ads-text {
  color: black;
}

/*Vídeos*/

.tittle-apresentation-initial.videos {
  background-color: #d7aeed0f;
}

.videos-section {
  background: whitesmoke;
}

/*notícias pós parte da publicidade "ads"*/

.card-container-2 {
    background-color: ghostwhite;
  border: solid blueviolet 1.5px;
}


.card-container-2:hover {
  background-color: #ffffff;
}



.sidenav {
  background: rgb(140, 82, 255);
  background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 1) 23%,
    rgba(255, 145, 77, 1) 100%
  );
}

.sidenav .side_nav_a:hover {
  background-color: #606060;
}

