/*inserção da imagem de fundo que cobre todo o conteúdo do site*/

body {
  background: linear-gradient(270deg, #6093b6, #dbe6e4, #e4d7f5);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/*Modificações do cabeçalho (arquivos do NAVBAR)*/

.navbar-header {
    background-image: url(../assets/images/sobre_nos-nav-background-degrade.png);
}

.nav-itens-name:hover {
  background-image: url(../assets/images/sobre_nos-nav-background-degrade.png);
}

/*Efeito da cor da Lupa na barra de Pesquisa (Único para cada página!)*/
.search-box:hover > .search-btn {
  background: url(../assets/images/sobre_nos-nav-background-degrade.png);
  background-size: cover;
}

/*Caso a pesquisa não retorne resultados*/

img.no-results-img {
  border: solid #FFF 2px;
}

.text-no-results {
  color: rgb(255, 255, 255);
    background-color: teal;
    padding: 12px;
    border-radius: 15px;
    border: solid;
}

/*Caso a pesquisa tenha resultados*/

.search-result {
  border-bottom: 1px solid #eee;
}


/*Menu mobile*/

.links-mobile {
  background-image: url(../assets/images/index_nav_background.png);
  background: rgb(140, 82, 255);
  background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 1) 23%,
    rgba(255, 145, 77, 1) 100%
  );
}


/*Fim dos arquivos do NAVBAR*/

.tittle-apresentation-initial {
  background-color: #9470db12;
}

@media (max-width: 975px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    text-align: initial;
  }
}

@media (max-width: 620px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    font-size: 0.8em;
  }
}

@media (max-width: 520px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    font-size: 0.7em;
  }
}

@media (max-width: 450px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    font-size: 13px;
  }
}

@media (max-width: 415px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
   
    
  }
}

@media (max-width: 395px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
  }
}

@media (max-width: 390px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    font-weight: 900;
    font-size: 1em;
  }

}

@media (max-width: 300px) {
  .tittle-apresentation-initial {
    font-size: 0.7em;
  }
}

/*Estilos do Carrosel*/

.swiper-navBtn {
  color: #000000;
  transition: color 0.3s ease-in-out;
}

.swiper-navBtn:hover {
  color: #000000;
}

.swiper-pagination-bullet {
  background-color: #000000;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.card {
  background-color: ghostwhite;
  border: solid steelblue 2px;
  
}

@media (max-width: 660px) {
  /*limitará a quantidade de caracteres que o card exibirá em no máximo 5 linhas*/
  .description_card {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    
  }
}

.card:hover {
  background-color: rgb(234, 240, 242);
}


/*parte da publicidade*/

.ads-initial {
  display: none;
}

.img-ads {
  background-color: #f7f7f7db;
}

p.text-ads {
  color: black;
}

/*Vídeos*/

.tittle-apresentation-initial.videos {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  text-align: center;
}

.videos-section {
  background: linear-gradient(270deg, #dabcdf, #baa2d5, #6093b6);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 50s ease infinite;
  -moz-animation: AnimationName 50s ease infinite;
  animation: AnimationName 50s ease infinite;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/*notícias pós parte da publicidade "ads"*/

.card-container-2 {
    background-color: ghostwhite;
  border: solid steelblue 1.5px;
}


.card-container-2:hover {
  background-color: #ffffff;
}

/*sidebar lateral*/

nav.menu-lateral {
  background-color: #3EECAC;
  background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);

  box-shadow: 3px 0 0 darkmagenta;
}

ul li.ativo {
  background-color: rgba(139, 0, 139, 0.87);
  border-radius: 50px 0px 0px 50px;
  
}

ul li.item-menu:hover {
  background-color: darkmagenta;
  border-radius: 50px 0px 0px 50px;
}

