.search-box {
    background: #fff;

    height: 40px;
    padding: 10px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;

    background: none;
    border: 0;
    outline: 0;

    font-size: 16px;

    padding: 0;

    width: 0;

    text-align: center;
    transition: all 0.5s ease-in-out;
    cursor: auto;
}

.search-box  {
    cursor: pointer;
} 

.search-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loupe-white {
    display: none;
}

.search-box:hover > .search-text {
    transition: all 0.5s ease-in-out;
    width: 180px;
}

.logo-mobile {
    display: none;
}



@media (max-width: 670px) {
    .search-box {
        height: auto;
        padding: 0;
    }
    .search-box:hover > .search-text {
        transition: all 0.5s ease-in-out;
        width: 110px;
    }

    .logo > a {
        display: none;
      }
    
      a.logo-mobile {
        display: block;
      }
}

@media (max-width: 660px){
    .card {
        margin: 0;
        height: auto;
        width: 200px;
    }
    }

@media (max-width: 600px){
    .no-results-messenger-group {
      flex-direction: column-reverse;
  }
  .text-no-results {
      letter-spacing: -1.95px;
      width: 300px;
  }
  
  img.no-results-img{
      width: 300px;
      height: 300px;
  }
  }

  @media (max-width: 370px) {
    .search-box:hover > .search-text {
        transition: all 0.5s ease-in-out;
        width: 110px;
    }
    
  }

  @media (max-width: 300px) {
    .search-box {
        height: 40px;
        padding: 5px;
        font-size: 13px;
    }
    .search-box:hover > .search-text {
        transition: all 0.5s ease-in-out;
        width: 80px;
    }
    .search-box:hover > .search-btn {
         width: 35px;
    }
    .search-btn {
        width: 30px;
    }
  }

/*
.search-box:hover > .search-btn {
    background: url(../assets/images/culinaria_nav_background.png);
    background-size: cover;
    #447ce7
}*/

.search-box:hover > .search-btn .loupe-blue {
    display: none;
}

.search-box:hover > .search-btn .loupe-white {
    display: block;
}