* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Maven Pro', sans-serif;*/
}

/*inserção da imagem de fundo que cobre todo o conteúdo do site*/

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /*-------------------------*/

    background-image: url(../assets/images/tech-body-background-gradient-blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

/*Modificações do cabeçalho (arquivos do NAVBAR)*/

.navbar-header {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    height: 70px;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../assets/images/tech-background-nav-tech-original-apresentation-ju.png);
    position: fixed;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}



.material-symbols-outlined {
    display: none;
}



.logo>a {
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
    text-shadow: -2px 0px 2px rgba(0, 0, 0, 1);
    /*text-shadow: 3px 3px 2px rgba(128, 128, 128, 1);*/
    color: white;

}

.nav-itens {
    list-style: none;
    display: flex;
    gap: 19px;
}



.nav-itens>li>a {
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    padding: 4px 19px;
    text-decoration: none;
    font-size: 12px;
    color: #000000;
    background-color: #d9d9d9fd;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
}

.nav-itens-name {
    /*esse é o efeito de acender a luzinha verde, ao passar o mouse sobre os temas do navbar*/
    transition: all 0.3s ease-out;
}

.nav-itens-name:hover {
    background-color: #8eb9e9;
    transition: 0.5s ease-out;
    
}


#search {
    text-align: center;
    border-radius: 12px;
    border: none;
    padding: 4px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*Menu mobile*/

.links-mobile {
    position: absolute;
    backdrop-filter: blur(10px);
    top: 69px;
    left: 0;
    width: 40%;
    height: 0;
   /* background-color: #00000051; */
  /*  background-image: url();*/
    background-size: contain;
    background-position: center;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 0 25px
}

.links-mobile .nav-itens{
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-align: center;
    
}

.links-mobile .nav-itens-name {
    display: block;
    padding: 10px 30px;
    gap: 45px;
}

#btn-menu {
    color: white;
}


@media screen and (max-width: 1030px) {
    .links {
        display: none;
    }
   /* #search {
        display: none;
    } */
    .logo {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    
    .material-symbols-outlined{
        display: block;
        cursor: pointer;
    }

    .navbar-header{
        padding: 30px;
    }

    .links-mobile.abrir{
        visibility: visible;
        height: 100vh;
    }

    #btn-menu.ativo {
        display: block;
        color: snow;
    }
    
}

@media screen and (max-width: 565px) {
    #search {
        display: none;
    }
}


@media screen and (max-width: 440px) {
    .links-mobile {
        width: 70%;
    }

    .logo>a {
        font-weight: 900;
        font-size: 20px;
        text-decoration: none;
        text-shadow: -2px 0px 2px rgba(0, 0, 0, 1);
        color: white;
    
    }
}


/*Fim dos arquivos do NAVBAR*/

main {
    display: flex;
    flex-direction: column;
  /*  justify-content: center;
    align-items: center;*/
}


.tittle-apresentation-initial {
    margin-top: 3.8rem;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    padding: 16px 16px;
    text-shadow: -2px 0px 2px rgba(0, 0, 0, 1);
   /* background-color: #8eb8e97e;
    width: 100%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
    font-size: 15px;
}