/*inserção da imagem de fundo que cobre todo o conteúdo do site*/

body {
  background: rgb(30,128,195);
  background: linear-gradient(90deg, rgba(30,128,195,1) 0%, rgba(96,147,182,1) 35%, rgba(1,101,169,1) 100%);

}

/*Modificações do cabeçalho (arquivos do NAVBAR)*/

.navbar-header {
  background-image: url(../assets/images/tech-background-nav-tech-original-apresentation-ju.png);
}

.nav-itens-name:hover {
  background-color: #8eb9e9;
  
}

/*Efeito da cor da Lupa na barra de Pesquisa (Único para cada página!)*/
.search-box:hover > .search-btn {
  background: #447ce7;
}

/*Caso a pesquisa não retorne resultados*/

img.no-results-img {
  border: solid darkblue 2px;
  
}

.text-no-results {
    color: white;
}

/*Caso a pesquisa tenha resultados*/

.search-result {
  border-bottom: 1px solid #eee;
}

/*Menu mobile*/

.links-mobile {
  background-image: url(../assets/images/tech-background-nav-tech-original-apresentation-ju.png);
}



/*Fim dos arquivos do NAVBAR*/

.tittle-apresentation-initial {
  background-color: #0000ff00;
  text-align: justify;
}

@media (max-width: 975px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    text-align: initial;
  }
}

@media (max-width: 620px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    
  }
}

@media (max-width: 520px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    
  }
}

@media (max-width: 450px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    font-size: 0.9em;
    
  }
}

@media (max-width: 415px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    
  }
}

@media (max-width: 395px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
  }
}

@media (max-width: 390px) {
  .tittle-apresentation-initial {
    line-height: 2.25rem;
    
    /*font-size: 0.75em;*/
    font-weight: 900;
  }
}

@media (max-width: 300px) {
  .tittle-apresentation-initial {
    font-size: 0.62em;
    text-align: initial;
  }
}

/*Estilos do Carrosel*/

.swiper-navBtn {
  color: oldlace;
  transition: color 0.3s ease-in-out;
}

.swiper-navBtn:hover {
  color: rgb(186, 206, 219);
}

.swiper-pagination-bullet {
  background-color: #8eb9e9;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: oldlace;
}

.card {
  background-color: #dcd9d9e8;
  border: 2px solid darkslateblue;
}

.card:hover {
  background-color: #dcdcdc;
}

@media (max-width: 660px) {
    /*limitará a quantidade de caracteres que o card exibirá em no máximo 5 linhas*/
  .description_card {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

/*parte da publicidade*/

.img-ads {
  background-color: #f7f7f7db;
}

p.text-ads {
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}

/*Vídeos*/

.tittle-apresentation-initial.videos {
    background: rgb(22,12,189);
  background: linear-gradient(90deg, rgba(22,12,189,1) 0%, rgba(96,147,182,1) 30%, rgba(0,137,164,1) 100%);
  
  background: #6495ed1c;

  text-align: center;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.videos-section {
  background: linear-gradient(270deg, #507b99, #6093b6, #188ad7);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


/*notícias pós parte dos videos*/

.card-container-2 {
  background-color: rgba(220, 217, 217, 0.91);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid steelblue;
}

.card-container-2:hover {
  background-color: #dcdcdc;
}


/*Menu Desktop*/
/*.sidenav {
  background-color: #3f6ea3;
}

.sidenav .side_nav_a:hover {
  background-color: #505050;
}*/

nav.menu-lateral {
  background-image: radial-gradient( circle farthest-corner at 0.2% 0.5%,  rgba(68,36,164,1) 3.7%, rgba(84,212,228,1) 92.7% );

  box-shadow: 3px 0 0 blue;
}

ul li.ativo {
  background-color: rgba(0, 0, 255, 0.774);
  border-radius: 50px 0px 0px 50px;
  
}

ul li.item-menu:hover {
  background-color: blue;
  border-radius: 50px 0px 0px 50px;
}


